<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="messageReadWorker" class="com.chenhe.task.worker.MessageReadWorker">
        <property name="threadName" value="delayTaskThread"/>
    </bean>

    <bean id="threadPool" class="com.chenhe.task.ThreadPool" init-method="initThread" destroy-method="destroy">
        <property name="threadMap">
            <map>
               <entry key="messageReadWorker" value="10" />
            </map>
        </property>
    </bean>
</beans>