<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- dataSource -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close" init-method="init">
        <property name="driverClassName" value="${mysql.driver}"/>
        <property name="url" value="${mysql.url}"/>
        <property name="username" value="${mysql.userName}"/>
        <property name="password" value="${mysql.password}" />
        <property name="filters" value="stat"/>

        <property name="maxActive" value="${mysql.maxActive}"/>
        <property name="initialSize" value="${mysql.initialSize}"/>
        <property name="maxWait" value="${mysql.maxWait}"/>
        <property name="minIdle" value="${mysql.minIdle}"/>


        <property value="60000" name="timeBetweenEvictionRunsMillis"></property>
        <property value="300000" name="minEvictableIdleTimeMillis"></property>

        <property value="SELECT 'x'" name="validationQuery"></property>
        <property value="true" name="testWhileIdle"></property>
        <property value="false" name="testOnBorrow"></property>
        <property value="false" name="testOnReturn"></property>
        <property value="true" name="poolPreparedStatements"></property>
        <property value="20" name="maxPoolPreparedStatementPerConnectionSize"></property>
    </bean>

    <!-- mybatis -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml" />
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.chenhe.service.mapper" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>
</beans>